@use "../../styles/base/variables" as *;

.modale-salle {
  z-index: 9;
  max-width: 280px;
  padding: 32px 16px;
  background-color: #FFF;
  border: 1px solid black;
  border-bottom: none;
  border-left: none;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  img {
    width: 10vw;
    min-width: 100px;
  }

  a {
    text-align: center;
    line-height: 150%;
  }
}

.title-modal {
  font-size: 22px;
  text-align: center;
}