@import "../../styles/base/variables";

.modale-salle{
  width: 22vw;
  padding: 52px 32px;
  background-color: #FFF;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  img{
    width: 18vw;
  }
  a{
    text-align: center;
    line-height: 150%;
  }
}
.title-modal{
  font-size: 28px;
  text-align: center;
}