@use "../../styles/base/variables" as *;

.backbtn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 24px 0;
}

.backbtn:hover {
  fill: #404040;
  background-color: transparent;
}