@import "../../styles/base/variables";

.hud-container {
  background-color: #fff;
  height: 100dvh;
  width: 30dvw;
  overflow-y: scroll;
}

.hud-top-content {
  padding: 28px 2vw;
}
.flex-button {
  display: flex;
  justify-content: space-between;
  padding: 28px 2vw;
}
.hud-title {
  color: $primary-color;
  font-size: 46px;
  font-weight: 400;
}
.hud-subtitle {
  margin-top: 8px;
  color: #646464;
  font-size: 20px;
}
.hud-flex {
  gap: 32px;
  padding: 28px 2vw;
  display: flex;
  flex-wrap: wrap;
}
.hud-text {
  font-size: 20px;
}
hr {
  margin: 32px 0;
}
