@use '../../styles/base/variables' as *;

.choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000;
  padding: 8px 16px;
  user-select: none;
  cursor: pointer;
  width: 45%;
  aspect-ratio: 1/1;
  position: relative;

  height: fit-content;
  background-color: #FFF;

  &:hover {
    background-color: #f0f0f0;
  }

  &:active {
    background-color: #ecebeb;
  }

  &.reserve {
    &::after {
      position: absolute;
      right: 0;
      top: 0;
      margin: 5px;
      content: 'En réserves';
      background-color: $primary-color;
      color: #FFF;
      padding: 4px 8px;
      border-radius: 9000px;
    }
  }

}



.choice img {
  width: 80%;
  height: fit-content;
}

.label-choice {
  margin-top: 8px;
  font-size: 18px;
  color: $primary-color;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.2em;
  max-height: 3.6em;

  span {
    &.italic {
      font-style: italic;
    }
  }
}