@font-face {
    font-family: 'Actor';
    src: url(/public/font/actor-regular.woff2);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Actor', sans-serif;
}


html,
body,
#root {
    width: 100%;
    height: 100%;
}

#root {
    display: flex;
}

canvas {
    background: rgb(169,177,181);
    background: linear-gradient(180deg, rgba(177,180,185,1) 25%, rgba(214,218,220,1) 100%);
    width: 70dvw;
}

.test {
    position: absolute;
    bottom: 16px;
    left: 50%;
}