html {
  scrollbar-color: black rgba(0, 0, 255, 0);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 255, 0);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 255, 0);
  }
}

body {
  font-family: "Actor", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 400;
}

a,
a:visited {
  text-decoration: underline;
  display: inline-block;
  color: inherit;
  text-decoration: 1px solid inherit;
  text-underline-offset: 4px;
}
