body {
  font-family: 'Actor', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 400;
}

a,
a:visited {
  text-decoration: underline;
  color: inherit;
  text-decoration: 1px underline #000;
  text-underline-offset: 4px;
}